@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
header {
  width: 100%;
  position: fixed;
  background: rgba(17, 21, 31, 0.8);
  backdrop-filter: blur(30px);
  color: #a4b5c2;
  font-size: 1.8rem;
  z-index: 10;
}
header ul {
  width: calc(100% - 160px);
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  gap: 40px;
}
header ul li {
  padding: 4px;
}
header ul li:hover {
  color: #f5f7fa;
}
header ul li:first-child {
  width: 100%;
}
@media (max-width: 480px) {
  header ul {
    gap: 40px;
    width: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  header ul {
    gap: 40px;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1024px) {
  header ul {
    width: calc(100% - 60px);
  }
}
@media (max-width: 1200px) {
  header ul {
    width: calc(100% - 120px);
  }
}

body {
  background-color: #11151f;
}

.contents {
  max-width: calc(100% - 160px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 480px) {
  .contents {
    width: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  .contents {
    width: calc(100% - 40px);
  }
}
@media (max-width: 1024px) {
  .contents {
    width: calc(100% - 60px);
  }
}
@media (max-width: 1200px) {
  .contents {
    width: calc(100% - 120px);
  }
}

.top {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 48px;
  height: 100vh;
  box-sizing: border-box;
}

.portfolio-img {
  width: 420px;
}

.top-text {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #f5f7fa;
  position: relative;
}
.top-text h2 {
  font-size: 32px;
  line-height: 1.4;
}
.top-text p {
  color: #798a9a;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}
.top-text::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #566573;
  position: absolute;
  top: 0;
  left: 0;
}

.profile {
  width: 100%;
  display: flex;
  gap: 40px;
}

.profile-img {
  width: 21.875vw;
}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.profile-right-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #f5f7fa;
}
.profile-right-text h1 {
  font-size: 48px;
  font-weight: 500;
}
.profile-right-text h3 {
  font-size: 24px;
  color: #566573;
}
.profile-right-text h3 strong {
  color: #a4b5c2;
}

.profile-right-info {
  display: flex;
  gap: 40px;
}
.profile-right-info .profile-info-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.careea_con {
  display: flex;
  flex-direction: column;
}
.careea_con .careea_con_divider {
  display: flex;
  gap: 16px;
}

.careea_contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.careea_contents .careea_company {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.careea_contents strong {
  color: #566573;
  font-size: 15px;
  position: relative;
}
.careea_contents .careea_list {
  font-size: 16px;
  line-height: 1.5;
}

.skill-list-con {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-icons-con {
  display: flex;
  gap: 16px;
}
.skill-icons-con p {
  width: 100%;
  color: white;
  font-size: 16px;
}
.skill-icons-con .skill-icons {
  display: flex;
  justify-content: end;
  gap: 16px;
}
.skill-icons-con .skill-icons img {
  width: 72px;
  height: 72px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
}

.works {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2.083vw;
}

.works_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 240px;
  min-width: 160px;
  position: sticky;
  top: 60px;
}
.works_list :hover {
  color: white;
}

.works_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title {
  color: #41bbff;
  font-size: 24px;
}

.careea_date {
  color: white;
  font-size: 16px;
}

.careea_company {
  color: white;
  font-size: 18px;
}

.careea_list {
  color: #a4b5c2;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.works_list_title {
  font-size: 15px;
  color: #41bbff !important;
  font-weight: 700;
}

.works_list_project {
  font-size: 18px;
  color: #8f9fac;
  font-weight: 500;
  line-height: 1.4;
}/*# sourceMappingURL=main.css.map */