@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
header {
  width: 100%;
  position: fixed;
  background: #11151f;
  backdrop-filter: blur(30px);
  color: #a4b5c2;
  font-size: 1.8rem;
  z-index: 10;
}
header ul {
  width: calc(100% - 160px);
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  gap: 40px;
}
header ul li {
  padding: 4px;
}
header ul li:hover {
  color: #f5f7fa;
}
header ul li:first-child {
  width: 100%;
}
@media (max-width: 480px) {
  header ul {
    gap: 24px;
    width: calc(100% - 20px);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header ul {
    gap: 32px;
    width: calc(100% - 40px);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header ul {
    width: calc(100% - 60px);
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  header ul {
    width: calc(100% - 120px);
  }
}

body {
  background-color: #11151f;
}

.contents {
  max-width: calc(100% - 160px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .contents {
    max-width: calc(100% - 24px);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contents {
    max-width: calc(100% - 40px);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .contents {
    max-width: calc(100% - 60px);
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .contents {
    max-width: calc(100% - 120px);
  }
}

.top {
  max-width: 100%;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 48px;
  height: 100vh;
  box-sizing: border-box;
}

.portfolio-img {
  width: 420px;
}
@media (max-width: 480px) {
  .portfolio-img {
    width: 240px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .portfolio-img {
    width: 320px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .portfolio-img {
    width: 420px;
  }
}

.top-text {
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #f5f7fa;
  position: relative;
}
.top-text .Introduce-title {
  font-size: 32px;
  line-height: 1.4;
  color: #f5f7fa;
}
.top-text p {
  color: #798a9a;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}
.top-text::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #566573;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 480px) {
  .top-text h2 {
    font-size: 24px;
  }
  .top-text p {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .top-text h2 {
    font-size: 24px;
  }
  .top-text p {
    font-size: 20px;
  }
}

.profile {
  width: 100%;
  padding-top: 120px;
  display: flex;
  gap: 60px;
}
@media (max-width: 480px) {
  .profile {
    flex-direction: column;
    gap: 24px;
  }
}

.profile-img {
  width: 25vw;
}
@media (max-width: 480px) {
  .profile-img {
    width: 100%;
  }
}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.profile-right-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #f5f7fa;
}
.profile-right-text .profile-title {
  font-size: 48px;
  font-weight: 500;
  color: #f5f7fa;
}
.profile-right-text p {
  font-size: 24px;
  color: #566573;
}
.profile-right-text p strong {
  color: #a4b5c2;
}
@media (max-width: 480px) {
  .profile-right-text .profile-title {
    font-size: 32px;
  }
  .profile-right-text p {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .profile-right-text .profile-title {
    font-size: 32px;
  }
  .profile-right-text p {
    font-size: 20px;
  }
}

.profile-right-info {
  display: flex;
  gap: 60px;
}
.profile-right-info .profile-info-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 480px) {
  .profile-right-info {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .profile-right-info {
    flex-direction: column;
  }
}

.info-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.careea_con {
  display: flex;
  flex-direction: column;
}
.careea_con .careea_con_divider {
  display: flex;
  gap: 16px;
}
@media (max-width: 480px) {
  .careea_con .careea_con_divider {
    gap: 8px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .careea_con .careea_con_divider {
    gap: 12px;
  }
}

.careea_contents {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.careea_contents .careea_company {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.careea_contents strong {
  color: #566573;
  font-size: 15px;
  position: relative;
}
.careea_contents .careea_list {
  font-size: 16px;
  line-height: 1.5;
}

.skill-list-con {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-icons-con {
  display: flex;
  gap: 16px;
}
.skill-icons-con p {
  width: 100%;
  color: #f5f7fa;
  font-size: 16px;
}
.skill-icons-con .skill-icons {
  display: flex;
  justify-content: end;
  gap: 16px;
}
.skill-icons-con .skill-icons img {
  width: 72px;
  height: 72px;
}

.works {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 70px;
}
@media (max-width: 480px) {
  .works {
    flex-direction: column;
  }
}

.works_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 240px;
  min-width: 160px;
  position: sticky;
  top: 0;
  color: #a4b5c2;
  font-size: 18px;
}
.works_list :hover {
  color: #f5f7fa;
}
@media (max-width: 480px) {
  .works_list {
    width: 100%;
    top: 70px;
    background: #11151f;
  }
  .works_list li {
    display: none;
  }
  .works_list li:last-child {
    padding-bottom: 16px;
  }
}

.works_list_m {
  display: none;
}
@media (max-width: 480px) {
  .works_list_m {
    max-width: 100%;
    width: 100%;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    background: #11151f;
    color: #a4b5c2;
    font-size: 1.8rem;
    z-index: 10;
  }
  .works_list_m p {
    width: 100%;
    text-align: left;
  }
}
.works_list_m.active ~ li {
  display: block;
}

.work_contents {
  color: #f5f7fa;
}
.work_contents .work_title {
  font-size: 18px;
}
.work_contents .work_text {
  padding-bottom: 15px;
  font-size: 16px;
  color: #798a9a;
}

.works_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title {
  color: #41bbff;
  font-size: 24px;
}

.careea_date {
  color: white;
  font-size: 16px;
}

.careea_company {
  color: white;
  font-size: 18px;
}

.careea_list {
  color: #a4b5c2;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.works_list_title {
  font-size: 15px;
  color: #41bbff !important;
  font-weight: 700;
}

.works_list_project {
  font-size: 18px;
  color: #8f9fac;
  font-weight: 500;
  line-height: 1.4;
}/*# sourceMappingURL=main.css.map */