$g-50: #f5f7fa;
$g-100: #dbe4ed;
$g-200: #bfcdd9;
$g-300: #a4b5c2;
$g-400: #8f9fac;
$g-500: #798a9a;
$g-600: #566573;
$g-700: #404c59;
$g-800: #2e3642;
$g-900: #17212c;
$black: #0b1923;

$primary-blue: #41bbff;
