header {
    width: 100%;
    position: fixed;
    background: rgba(23, 28, 34, 0.1);
    backdrop-filter: blur(20px);
    color: $g-300;
    font-size: 1.8rem;

    ul {
        width: calc(100% - 160px);
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        gap: 40px;

        li {
            padding: 12px;
        }

        li:hover {
            color: $g-50;
        }

        li:first-child {
            width: 100%;
        }
    }

    @include respond-to(mobile) {
        ul {
            gap: 40px;
            width: calc(100% - 20px);
        }
    }
    @include respond-to(tablet) {
        ul {
            gap: 40px;
            width: calc(100% - 40px);
        }
    }
    @include respond-to(desktop) {
        ul {
            width: calc(100% - 60px);
        }
    }
    @include respond-to(large-desktop) {
        ul {
            width: calc(100% - 120px);
        }
    }
}
