body {
    background-color: $black;
}

.contents {
    max-width: calc(100% - 160px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(mobile) {
        max-width: calc(100% - 20px);
    }
    @include respond-to(tablet) {
        max-width: calc(100% - 40px);
    }
    @include respond-to(desktop) {
        max-width: calc(100% - 60px);
    }
    @include respond-to(large-desktop) {
        max-width: calc(100% - 120px);
    }
}

// top
.top {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 48px;
    height: 100vh;
    box-sizing: border-box;
}

.portfolio-img {
    width: 420px;

    @include respond-to(mobile) {
        width: 240px;
    }
    @include respond-to(tablet) {
        width: 320px;
    }
    @include respond-to(desktop) {
        width: 320px;
    }
    @include respond-to(large-desktop) {
        width: 420px;
    }
}

.top-text {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $g-50;
    position: relative;

    h2 {
        font-size: 32px;
        line-height: 1.4;
    }
    p {
        color: $g-500;
        font-size: 24px;
        line-height: 1.4;
        font-weight: 400;
    }

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $g-600;
        position: absolute;
        top: 0;
        left: 0;
    }
}

// profile
.profile {
    width: 100%;
    padding-top: 120px;
    display: flex;
    gap: 60px;
}

.profile-img {
    width: 25vw;
}

.profile-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.profile-right-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $g-50;

    h1 {
        font-size: 48px;
        font-weight: 500;
    }
    h3 {
        font-size: 24px;
        color: $g-600;

        strong {
            color: $g-300;
        }
    }
}
.profile-right-info {
    display: flex;
    gap: 60px;

    .profile-info-con {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

.info-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.careea_con {
    display: flex;
    flex-direction: column;

    .careea_con_divider {
        display: flex;
        gap: 16px;
    }
}
.careea_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .careea_company {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
    }

    strong {
        color: $g-600;
        font-size: 15px;
        position: relative;
    }

    .careea_list {
        font-size: 16px;
        line-height: 1.5;
    }
}
.skill-list-con {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.skill-icons-con {
    display: flex;
    gap: 16px;

    p {
        width: 100%;
        color: white;
        font-size: 16px;
    }
    .skill-icons {
        display: flex;
        justify-content: end;
        gap: 16px;

        img {
            width: 72px;
            height: 72px;
        }
    }
}

// works
.project {
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
}

.works {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2.083vw;
}

.works_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 240px;
    min-width: 160px;
    position: sticky;
    top: 100px;

    :hover {
        color: white;
    }
}

.works_img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

// typogryphy
.title {
    color: $primary-blue;
    font-size: 24px;
}

.careea_date {
    color: white;
    font-size: 16px;
}

.careea_company {
    color: white;
    font-size: 18px;
}

.careea_list {
    color: $g-300;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.works_list_title {
    font-size: 15px;
    color: $primary-blue !important;
    font-weight: 700;
}

.works_list_project {
    font-size: 18px;
    color: $g-400;
    font-weight: 500;
    line-height: 1.4;
}
