body {
    background-color: $black;
}

.contents {
    width: calc(100% - 120px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(mobile) {
        width: calc(100% - 20px);
    }
    @include respond-to(tablet) {
        width: calc(100% - 40px);
    }
    @include respond-to(desktop) {
        width: calc(100% - 60px);
    }
    @include respond-to(large-desktop) {
        width: calc(100% - 120px);
    }
}

// top
.top {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 600px 0 120px 0;
    box-sizing: border-box;
}

.portfolio-img {
    width: 420px;
}

.top-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

// profile
.profile {
    display: flex;
    align-items: flex-start;
    gap: 4.167vw;
    border-radius: 24px;
}

.profile-img {
    width: 21.875vw;
}

.profile-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.profile-right-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile_info_careea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.careea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

// works
.project {
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
}

.works {
    display: flex;
    align-items: flex-start;
    gap: 2.083vw;
}

.works_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 240px;
    min-width: 160px;
    position: sticky;
    top: 60px;

    :hover {
        color: white;
    }
}

.works_img {
    width: 64.583vw;
}

// typogryphy
.careea_title {
    color: $primary-blue;
    font-size: 24px;
}

.careea_date {
    color: white;
    font-size: 16px;
}

.careea_company {
    color: white;
    font-size: 18px;
}

.careea_list {
    color: $g-300;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.works_list_title {
    font-size: 15px;
    color: $primary-blue !important;
    font-weight: 700;
}

.works_list_project {
    font-size: 18px;
    color: $g-400;
    font-weight: 500;
    line-height: 1.4;
}
